body {
    display: grid;
    grid-template-areas: "nav"
                         "banner"
                         "main"
                         "section"
                         "footer";
    grid-template-columns: 100vw;
    margin: 0;
}
header {
    height: 220px;
    grid-area: banner;
    background-image: url(../images/Siri-Cascudo-Lanches.png);
    background-size: cover;
}
nav {
    grid-area: nav;
    background-color: #d3bbde;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 0 10px;
}
nav div {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}
nav div span {
    background-color: black;
    height: 3px;
    width: 30px;
}
nav img {
    width: 40px;
}