body {
    display: grid;
    grid-template-areas: "nav"
                         "banner"
                         "main"
                         "section"
                         "footer";
    grid-template-columns: 100vw;
    margin: 0;
}
header {
    height: 220px;
    grid-area: banner;
    background-image: url(../images/Siri-Cascudo-Lanches.png);
    background-size: cover;
}
main {
    grid-area: main;
    background-color: #fc9e9e;
}
main h1, main p {
    text-align: center;
    font-family: sans-serif;
}
nav {
    grid-area: nav;
    background-color: #d3bbde;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 0 10px;
}
nav div:nth-child(2){
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}
nav div:nth-child(3){
    display: none;
}
nav div span {
    background-color: black;
    height: 3px;
    width: 30px;
}
nav img {
    width: 40px;
}
section {
    grid-area: section;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
section .funcionarios {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center; 
    flex-direction: column;
}
section .funcionarios div img {
    width: 100px;
}
@media(min-width:580px) {
    nav div a{
        font-size: 15pt;
        text-decoration: none;
    }
    nav div:nth-child(2){
        display: none;
    }
    nav div:nth-child(3){
        display: block;
    }
    section .funcionarios {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100vw;
    }
}
@media(min-width:710px){
    header{
        background-image: url(../images/abacaxi.png)
    }
}